@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 60px 20px;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 60px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

form {
    width: 100%;
    max-width: 450px;
    margin-bottom: 80px;
}

.form-group {
    margin-bottom: 30px;
}

label {
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 5px;
    color: #000;
}

/* Inputs y Selects */
input[type="text"], 
input[type="date"], 
select {
    width: 100%;
    border: none;
    border-bottom: 1px solid #d1d1d1; /* Línea gris muy fina */
    padding: 12px 0;
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    background: transparent;
    border-radius: 0;
    outline: none;
    transition: border-color 0.4s;
}

input:focus, select:focus {
    border-bottom: 1px solid #000; /* Se vuelve negra al escribir */
}

/* Botón "Crear Tarea" */
button[type="submit"] {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 15px;
    width: 100%;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #fff;
    color: #000;
}

/* Lista de tareas estilo "Checkout" */
#taskList {
    width: 100%;
    max-width: 600px;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

.task-details h3 {
    margin: 0;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}

.task-details p {
    margin: 5px 0 0 0;
    font-size: 11px;
    color: #666;
    text-transform: uppercase;
}

.task-meta {
    text-align: right;
}

.status-tag {
    font-size: 9px;
    border: 1px solid #000;
    padding: 2px 8px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 10px;
}

.btn-delete {
    background: none;
    border: none;
    text-decoration: underline;
    font-size: 10px;
    text-transform: uppercase;
    cursor: pointer;
    color: #999;
    padding: 0;
}

.btn-delete:hover {
    color: #000;
}